<template>
  <div class="container">
    <h2>Car id - {{id}}</h2>

    <button class="btn btn-sm btn-default" @click="goBackToCars">Back</button>
    <br>
    <!-- 
      <router-link class="btn btn-info mt-2" tag="button" :to="'/car/'+ id +'/full'">Full info</router-link>
    -->
    <router-link class="btn btn-info mt-2" tag="button" 
      :to="{name: 'carFull', params: {id: id}, query: {name: 'Mazda',year: 2016}, hash: '#scroll'}"
      
      >Full info</router-link>

    <hr>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
data() {
  return {
      //id: this.$router.currentRoute.params['id']
      id: this.$route.params['id']
  }
},
methods: {
    goBackToCars() {
        this.$router.push('/cars')
    }
},
watch: {
    $route(toR,fromR) {
        this.id = toR.params['id']
    }
},
beforeRouteLeave (to, from, next) {
  if (window.confirm('Вы уверены что хоитите?')) {
    next()
  } else {
    next(false)
  }
}
}
</script>

<style scoped>

</style>