<template>
  <div class="container">
      <h4>Car name - {{ $route.query.name }}</h4>
      <h5>Car Year - {{ year }}</h5>

      <hr>
      <div class="scroll"></div>
      <h6 id="scroll">Hello from the bottom</h6>
  </div>
</template>

<script>
export default {
data() {
  return {
      id: this.$route.params['id']
  }
},
computed: {
    year() {
        return this.$route.query.year
    }
},
beforeRouteEnter (to, from, next) {
    next()
}
}
</script>

<style scoped>
.scroll {
    width: 100px;
    height: 1000px;
    background-color: chocolate;
}
</style>