<template>
    <div>
        <slot name="title"></slot>
        <hr>
        <slot name="text"></slot>
    </div>
</template>

<script>
export default {
    //props: ['carName']
}
</script>
<style scoped>
    div{
        border: 1px solid black;
    }
    h2{
        color: aqua;
    }
</style>