<template>
    <div>
        <h2>Counter</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, neque? Maxime quos quas unde minus voluptatibus, eveniet eligendi culpa, expedita alias similique architecto reprehenderit quidem deleniti aperiam eos, aliquid suscipit!</p>
    </div>
</template>

<script>
export default {
}
</script>

<style scoped>
    h2{
        color:blueviolet;
    }
</style>