<template>
  <div class="container">
    <h2>Hello world</h2>
    <form class="pt-3" @submit.prevent="onSubmit">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" v-model="email" 
              @blur="$v.email.$touch()" 
              id="email" 
              class="form-control"
              :class="{'is-invalid': $v.email.$error}"
      >
      <div class="invalid-feedback" v-if="!$v.email.required">
          Email field is required
        </div>
              <div class="invalid-feedback" v-if="!$v.email.email">
          This field not email
        </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" v-model="password" 
              @blur="$v.password.$touch()" 
              id="password" 
              class="form-control"
              :class="{'is-invalid': $v.password.$error}"
      >
      <div class="invalid-feedback" v-if="!$v.password.minLength">
          This field many {{ $v.password.$params.minLength.min }} length
        </div>
    </div>

    <div class="form-group">
      <label for="confirm">Confirm Password</label>
      <input type="password" v-model="confirmPassword" 
              @blur="$v.confirmPassword.$touch()" 
              id="confirm" 
              class="form-control"
              :class="{'is-invalid': $v.confirmPassword.$error}"
      >
      <div class="invalid-feedback" v-if="!$v.confirmPassword.sameAs">
          Password not
        </div>
    </div>

    <button class="btn btn-success" :disabled="$v.$invalid" type="submit">Submit</button>
    </form>

  </div>
</template>

<script>
import { required,email,minLength, sameAs } from 'vuelidate/lib/validators'
export default {
data() {
  return {
    email: '',
    password: '',
    confirmPassword: ''
  }
},
methods: {
  onSubmit: function() {
    console.log('Email', this.email)
    console.log('Password',this.password)
  }
},
validations: {
  email: {
    required,
    email,
    uniqueEmail: function(newEmail) {
      if (newEmail === '') return true
      return new Promise((resolve,reject) => {
        setTimeout(()=> {
          const value = newEmail !== 'test@mail.ru'
          resolve(value)
        },1000)
      })
    }
  },
  password: {
    minLength: minLength(6)
  },
  confirmPassword: {
    sameAs: sameAs('password')
  }
}
}
</script>
